.choose{
    margin: 0 9rem;
    gap: 3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;

    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        h2 {
          font-size: 4rem;
        }
        p {
          color: #7b7e86;
          line-height: 2rem;
        }
    }
    @media screen and (min-width: 280px) and (max-width: 1080px) {
      flex-direction: column;
      margin: 2rem;
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 50vw;
        }
      }
      .content {
        gap: 1rem;
        h2 {
          font-size: 2rem;
        }
        p {
          line-height: 1.3rem;
          font-size: 0.9rem;
        }
      }
    } 
}